#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
}

body{
  margin: auto;
  background-color: #faf9f9;
  color: #1e293b;
}

a:hover{
  opacity: 0.85;
  transition: opacity 0.2 ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

